#item {
  border: none;
  border-radius: 8px;
  align-items: center;
  width: 20%;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#imageButton {
  border: none;
  background-color: #fff;
}

img {
  filter: brightness(90%);
  border-radius: 0px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  background-color: #fff;
}

.centered {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#likeButton {
  margin-top: 1%;
  border: 2px solid #e36035;
  border-radius: 8px;
  font-size: 16px;
  padding: 2px;
  width: 100%;
  background-color: white;
  color: black;
  cursor: pointer;
}

#likeButton:hover {
  color: rgb(92, 92, 92);
}

#heart {
  color: #e36035;
}

/* border-radius: 12px;


.button {
  display: flex;
  justify-content: left;
  align-items: left;
}

p {
  font-size: 12px;
}

  /* border: 1px solid gray; */
/* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
