.App {
  text-align: center;
  background-color: #fff;
}

.App-header {
  background-color: #E5A52F;
  padding: 0em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

#banner {
  max-width: 100%;
  width: auto;
  height: 200px;
  border-radius: 0;
  box-shadow: none;
}


